# Improving the Functionality and Reliability of Bluebikes by Using ML to Predict Station Availability

## Background and Motivation

## Setup

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## Data Read-In, Cleaning, and Preprocessing

First, read in one sample Bluebikes dataset from July 2020 to develop the preprocessing pipeline. Later, the same preprocessing will be applied to each month's Bluebikes trips dataset in the desired timeframe (July 2020 to June 2021).

In [58]:
# Read in one sample dataset
trips_2020_07 = pd.read_csv('data/202007-bluebikes-tripdata.csv')

In [59]:
display(trips_2020_07.head())
display(trips_2020_07.describe())
trips_2020_07.dtypes

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,postal code
0,259,2020-07-01 00:01:15.0430,2020-07-01 00:05:34.1010,16,Back Bay T Stop - Dartmouth St at Stuart St,42.348074,-71.076570,26,Washington St at Waltham St,42.341575,-71.068904,6059,Subscriber,02118
1,436,2020-07-01 00:03:39.1810,2020-07-01 00:10:55.4600,6,Cambridge St at Joy St,42.361257,-71.065287,152,Ink Block - Harrison Ave at Herald St,42.345901,-71.063187,2322,Customer,02114
2,1346,2020-07-01 00:04:27.0790,2020-07-01 00:26:53.2030,404,Mass Ave T Station,42.341356,-71.083370,167,Ryan Playground - Dorchester Ave at Harbor Vie...,42.317642,-71.056664,4062,Customer,NaN
3,2069,2020-07-01 00:04:56.0140,2020-07-01 00:39:25.1100,436,Maverick St at Massport Path,42.367741,-71.033360,436,Maverick St at Massport Path,42.367741,-71.033360,3858,Subscriber,02128
4,1266,2020-07-01 00:05:43.0180,2020-07-01 00:26:49.0580,404,Mass Ave T Station,42.341356,-71.083370,167,Ryan Playground - Dorchester Ave at Harbor Vie...,42.317642,-71.056664,6031,Customer,NaN

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid
count,2.597260e+05,259726.000000,259726.000000,259726.000000,259726.000000,259726.000000,259726.000000,259726.000000
mean,2.320020e+03,162.399540,42.354993,-71.086877,161.173818,42.354872,-71.086755,4233.672366
std,3.234821e+04,133.904613,0.018732,0.027911,133.891372,0.018805,0.027893,1245.847556
min,6.100000e+01,1.000000,42.167226,-71.166491,1.000000,42.167226,-71.166491,31.000000
25%,5.570000e+02,54.000000,42.344137,-71.105668,53.000000,42.343749,-71.105495,3170.000000
50%,9.580000e+02,113.000000,42.353391,-71.086336,111.000000,42.353334,-71.085954,4251.000000
75%,1.633000e+03,239.000000,42.365445,-71.065287,236.000000,42.365445,-71.065287,5328.000000
max,3.030358e+06,455.000000,42.414963,-70.905558,455.000000,42.414963,-70.905558,6332.000000

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
postal code                 object
dtype: object

The data type of `starttime` and `stoptime` columns is an object, which is not the best way to store date information. Instead, we should convert these columns to datetime data type. Data types for the other variables seem reasonable.

In [60]:
# Convert starttime and stoptime of each trip to datetime
trips_2020_07['starttime'] = pd.to_datetime(trips_2020_07['starttime'])
trips_2020_07['stoptime'] = pd.to_datetime(trips_2020_07['stoptime'])

In [61]:
# Rename stoptime column to endtime for consistent column naming
trips_2020_07.rename(columns={'stoptime': 'endtime'}, inplace=True)

In [62]:
# Replace spaces in column names with underscores
trips_2020_07.columns = trips_2020_07.columns.str.replace(' ','_')

In [63]:
# Convert tripduration from seconds to minutes for more intuitive values
trips_2020_07['tripduration'] = trips_2020_07['tripduration']/60

In [64]:
## Create a few other date-related columns based on starttime variable
# extract 'year'
trips_2020_07['year'] = trips_2020_07.starttime.dt.year

# extract 'month'
trips_2020_07['month'] = trips_2020_07.starttime.dt.month

# extract 'weekday'
trips_2020_07['weekday'] = trips_2020_07.starttime.dt.weekday

# extract 'hour'
trips_2020_07['hour'] = trips_2020_07.starttime.dt.hour

In [65]:
# Function to assign 0 to 2020 and 1 to 2021
def encode_year(x):
    return np.int64(np.floor(x-2020))

# encode 'year' column with 0 and 1
trips_2020_07['year'] = trips_2020_07['year'].apply(encode_year)

`usertype` column should reflect the type of user:
- casual: Single Trip or Day Pass user
- member: Annual or Monthly Member

In [66]:
# Rename data values in the usertype column to intuitively type of user
trips_2020_07.usertype.replace({'Customer': 'casual',
                                'Subscriber': 'member'},
                              inplace=True)

In [67]:
# verify values
print(trips_2020_07.usertype.unique())

['member' 'casual']

In [68]:
# Display dataset after preprocessing
display(trips_2020_07.head())
trips_2020_07.dtypes

,tripduration,starttime,endtime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,postal_code,year,month,weekday,hour
0,4.316667,2020-07-01 00:01:15.043,2020-07-01 00:05:34.101,16,Back Bay T Stop - Dartmouth St at Stuart St,42.348074,-71.076570,26,Washington St at Waltham St,42.341575,-71.068904,6059,member,02118,0,7,2,0
1,7.266667,2020-07-01 00:03:39.181,2020-07-01 00:10:55.460,6,Cambridge St at Joy St,42.361257,-71.065287,152,Ink Block - Harrison Ave at Herald St,42.345901,-71.063187,2322,casual,02114,0,7,2,0
2,22.433333,2020-07-01 00:04:27.079,2020-07-01 00:26:53.203,404,Mass Ave T Station,42.341356,-71.083370,167,Ryan Playground - Dorchester Ave at Harbor Vie...,42.317642,-71.056664,4062,casual,NaN,0,7,2,0
3,34.483333,2020-07-01 00:04:56.014,2020-07-01 00:39:25.110,436,Maverick St at Massport Path,42.367741,-71.033360,436,Maverick St at Massport Path,42.367741,-71.033360,3858,member,02128,0,7,2,0
4,21.100000,2020-07-01 00:05:43.018,2020-07-01 00:26:49.058,404,Mass Ave T Station,42.341356,-71.083370,167,Ryan Playground - Dorchester Ave at Harbor Vie...,42.317642,-71.056664,6031,casual,NaN,0,7,2,0

tripduration                      float64
starttime                  datetime64[ns]
endtime                    datetime64[ns]
start_station_id                    int64
start_station_name                 object
start_station_latitude            float64
start_station_longitude           float64
end_station_id                      int64
end_station_name                   object
end_station_latitude              float64
end_station_longitude             float64
bikeid                              int64
usertype                           object
postal_code                        object
year                                int64
month                               int64
weekday                             int64
hour                                int64
dtype: object

In [85]:
# Funciton to preprocess a month's trips dataset
def preprocess(month_df):
        # Convert starttime and stoptime of each trip to datetime
        month_df['starttime'] = pd.to_datetime(month_df['starttime'])
        month_df['stoptime'] = pd.to_datetime(month_df['stoptime'])

        # Rename stoptime column to endtime for consistent column naming
        month_df.rename(columns={'stoptime': 'endtime'}, inplace=True)

        # Replace spaces in column names with underscores
        month_df.columns = month_df.columns.str.replace(' ','_')

        # Convert tripduration from seconds to minutes for more intuitive values
        month_df['tripduration'] = month_df['tripduration']/60

        ## Create a few other date-related columns based on starttime variable
        # extract 'year'
        month_df['year'] = month_df.starttime.dt.year

        # extract 'month'
        month_df['month'] = month_df.starttime.dt.month

        # extract 'weekday'
        month_df['weekday'] = month_df.starttime.dt.weekday

        # extract 'hour'
        month_df['hour'] = month_df.starttime.dt.hour

        # encode 'year' column with 0 and 1
        month_df['year'] = month_df['year'].apply(encode_year)

        # Rename data values in the usertype column to intuitively type of user
        month_df.usertype.replace({'Customer': 'casual',
                                   'Subscriber': 'member'},
                                  inplace=True)
        
        return month_df
    
# Function to read-in all monthly datasets in a timeframe,
# apply preprocessing to each, and merge all into a single trips df
def read_trips_data(datasets):
    # List to store each each month's df
    dfs = []
    
    for month_dataset in datasets:
        month_df = pd.read_csv(f'data/{month_dataset}')
        
        month_df = preprocess(month_df)

        dfs.append(month_df)
        
    # Concat all dfs
    return pd.concat(dfs)

In [106]:
# Read all 
trips_df = read_trips_data(['202007-bluebikes-tripdata.csv', '202008-bluebikes-tripdata.csv',
                            '202009-bluebikes-tripdata.csv', '202010-bluebikes-tripdata.csv',
                            '202011-bluebikes-tripdata.csv', '202012-bluebikes-tripdata.csv',
                            '202101-bluebikes-tripdata.csv', '202102-bluebikes-tripdata.csv',
                            '202103-bluebikes-tripdata.csv', '202104-bluebikes-tripdata.csv',
                            '202105-bluebikes-tripdata.csv', '202106-bluebikes-tripdata.csv'])

In [107]:
# Clean indices
trips_df.reset_index(inplace=True)

In [111]:
trips_df.drop(columns='index', inplace=True)

In [112]:
# Final merged dataset 
display(trips_df.head())
display(trips_df.describe())
display(trips_df.dtypes)

,tripduration,starttime,endtime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,postal_code,year,month,weekday,hour
0,4.316667,2020-07-01 00:01:15.043,2020-07-01 00:05:34.101,16,Back Bay T Stop - Dartmouth St at Stuart St,42.348074,-71.076570,26,Washington St at Waltham St,42.341575,-71.068904,6059,member,02118,0,7,2,0
1,7.266667,2020-07-01 00:03:39.181,2020-07-01 00:10:55.460,6,Cambridge St at Joy St,42.361257,-71.065287,152,Ink Block - Harrison Ave at Herald St,42.345901,-71.063187,2322,casual,02114,0,7,2,0
2,22.433333,2020-07-01 00:04:27.079,2020-07-01 00:26:53.203,404,Mass Ave T Station,42.341356,-71.083370,167,Ryan Playground - Dorchester Ave at Harbor Vie...,42.317642,-71.056664,4062,casual,NaN,0,7,2,0
3,34.483333,2020-07-01 00:04:56.014,2020-07-01 00:39:25.110,436,Maverick St at Massport Path,42.367741,-71.033360,436,Maverick St at Massport Path,42.367741,-71.033360,3858,member,02128,0,7,2,0
4,21.100000,2020-07-01 00:05:43.018,2020-07-01 00:26:49.058,404,Mass Ave T Station,42.341356,-71.083370,167,Ryan Playground - Dorchester Ave at Harbor Vie...,42.317642,-71.056664,6031,casual,NaN,0,7,2,0

,tripduration,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,year,month,weekday,hour
count,2.382726e+06,2.382726e+06,2.382726e+06,2.382726e+06,2.382726e+06,2.382726e+06,2.382726e+06,2.382726e+06,2.382726e+06,2.382726e+06,2.382726e+06,2.382726e+06
mean,3.019542e+01,1.676565e+02,4.235618e+01,-7.108903e+01,1.665549e+02,4.235610e+01,-7.108877e+01,4.454116e+03,4.373042e-01,6.983388e+00,3.155015e+00,1.471261e+01
std,4.237127e+02,1.415987e+02,1.756302e-02,2.685581e-02,1.417654e+02,1.761271e-02,2.682503e-02,1.377318e+03,4.960538e-01,2.717798e+00,1.978414e+00,5.803577e+00
min,1.016667e+00,1.000000e+00,4.216723e+01,-7.122627e+01,1.000000e+00,4.216723e+01,-7.122627e+01,3.100000e+01,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,7.900000e+00,5.500000e+01,4.234590e+01,-7.110550e+01,5.400000e+01,4.234573e+01,-7.110550e+01,3.276000e+03,0.000000e+00,5.000000e+00,1.000000e+00,1.200000e+01
50%,1.356667e+01,1.100000e+02,4.235585e+01,-7.108981e+01,1.070000e+02,4.235560e+01,-7.108974e+01,4.508000e+03,0.000000e+00,7.000000e+00,3.000000e+00,1.600000e+01
75%,2.331667e+01,2.960000e+02,4.236551e+01,-7.106985e+01,2.820000e+02,4.236551e+01,-7.106962e+01,5.638000e+03,1.000000e+00,9.000000e+00,5.000000e+00,1.900000e+01
max,5.610653e+04,5.270000e+02,4.253467e+01,-7.087021e+01,5.260000e+02,4.253467e+01,-7.087021e+01,7.029000e+03,1.000000e+00,1.200000e+01,6.000000e+00,2.300000e+01

tripduration                      float64
starttime                  datetime64[ns]
endtime                    datetime64[ns]
start_station_id                    int64
start_station_name                 object
start_station_latitude            float64
start_station_longitude           float64
end_station_id                      int64
end_station_name                   object
end_station_latitude              float64
end_station_longitude             float64
bikeid                              int64
usertype                           object
postal_code                        object
year                                int64
month                               int64
weekday                             int64
hour                                int64
dtype: object

In [113]:
# Join background variables to the trips df
background_vars = ['holiday', 'weather', 'temp', 'atemp', 
                   'hum', 'windspeed']

- `year` with 0 for 2020, 1 for 2021, etc.
- `month` with 1 through 12, with 1 denoting January.
- `weekday` (0 through 6, with 0 denoting Monday)
- `starttime` (date and time in the format YYYY-MM-DD HH:MM:SS.S, e.g. 2011-01-01 11:01:01.1)
- `endtime` (date and time in the format YYYY-MM-DD HH:MM:SS.S, e.g. 2011-01-01 11:01:01.1)
- `start_hour` (0 for midnight, 1 for 1:00am, 23 for 11:00pm)
- `end_hour` (0 for midnight, 1 for 1:00am, 23 for 11:00pm)
- `start_station_id` 
- `start_station_name`
- `start_station_latitude` and `start_station_longitude` (coordinates of the station)
- `end_station_id` 
- `end_station_name`
- `end_station_latitude` and `end_station_longitude` (coordinates of the station)
- `tripduration` in seconds
- *`holiday` (1 = the day is a holiday, 0 = otherwise)
- *`season` (1 = winter, 2 = spring, 3 = summer, 4 = fall)
- *`weather`
    - 1: Clear, Few clouds, Partly cloudy, Partly cloudy
    - 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
    - 3: Light Snow, Light Rain + Thunderstorm
    - 4: Heavy Rain + Thunderstorm + Mist, Snow + Fog 
- *`temp` (temperature in Celsius, normalized)
- *`atemp` (apparent temperature, or relative outdoor temperature, in Celsius, normalized)
- *`hum` (relative humidity, normalized)
- *`windspeed` (wind speed, normalized)

## EDA